* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}


.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(90, 0, 200, 0.45),
    rgba(0, 200, 180, 0.35)
  );
  z-index: -1;
}


.player {
  max-width: 520px;
  margin: 40px auto;
  padding: 20px;
  color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}


ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}


.track-info {
  display: flex;
  align-items: center;
  gap: 10px;
}


.equalizer {
  width: 100px;
  height: 100px;
}


button {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}


@media (max-width: 430px) {
  .player {
    width: 90%;
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
  }
}
